body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.inner-page {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: left;

  background-color: #fefefe;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-container {
  margin: 0 auto;
  width: 1200px;

  background-color: #ffffff;
}

.main-header {
  position: relative;
  padding-bottom: 16px;
  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

.site-navigation,
.social-list,
.sort-list,
.sort-button,
.hotel-links {
  list-style: none;
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -69px;
  z-index: 100;
  width: 138px;
  height: 70px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding-left: 57px;
  padding-right: 58px;
  padding-top: 15px;

  font-weight: bold;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.2);
}

/* visited оставляет окрашенным кнопку. нужен другой вариант для 4го состояния */

.site-navigation a:visited {
  color: #766357;
}

.site-navigation li {
  width: 20%;
}

.navigation-info,
.navigation-multimedia {
  text-align: left;
}

.navigation-multimedia {
  margin-right: 10%;
}

.navigation-map,
.navigation-hotel {
  text-align: right;
}

.container {
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
}

.intro {
  position: relative;
  background-color: #d9eaf5;
  background-image: url("../img/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  /*  Это плохо. Как поправить? */
  min-height: 507px;
  background-position: 50% 21%;
}

/* уголок не острый*/

.background-shape::after {
  content: "";
  position: absolute;
  background-image: url(../img/background-shape.png);
  background-repeat: no-repeat;
  /*  сделала уголок на десятых, но где-то ошибка */
  top: 88.7%;
  left: 0;
  height: 115px;
  width: 100%;
}

.intro img {
  margin-top: 75px;
}

.main-title {
  display: inline-block;
  width: 570px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 15px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.container > p {
  margin-bottom: 48px;
}

/* ??????? */

.advantage-block {
  display: flex;
  width: 100%;
  color: #ffffff;
  background-color: #81b3d2;
}

/* полоска внизу. есть идеи? картинка ездит туда-сюда */

.advantage-img {
  width: 66%;
}

.advantage-text h3 {
  display: inline-block;
  width: 150px;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.advantage {
  display: flex;
  justify-content: space-around;
}

.advantage-text {
  width: 280px;
  line-height: 21px;
  padding-top: 45px;
}

/* поправить первый текстовый блок */

.advantage-block p {
  margin-top: 0;
  width: 305px;
}

.advantage-icon .advantage-text {
  padding-top: 132px;
  margin-bottom: 43px;
  background-position: 50% 25%;
  background-repeat: no-repeat;
}

.advantage-icon p {
  width: 290px;
}

.advantage-icon {
  margin: 0;
  padding: 0;
}

.advantage-icon .advantage-text:first-child {
  background-image: url("../img/icon-1.svg");
}

.advantage-icon .advantage-text:nth-child(2) {
  background-image: url("../img/icon-3.svg");
}

.advantage-icon .advantage-text:last-child {
  background-image: url("../img/icon-2.svg");
}

.advantage h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}

.advantage-background p {
  width: 270px;
}

.advantage-background {
  background-color: #eeeeee;
}

.booking-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
}


/* футер убежал вверх, карта уехала вниз */

.background-map::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;

  display: block;
  height: 400px;
  width: 100%;
  left: 0;
}


.booking-form p:first-of-type {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.booking-form p:last-of-type {
  line-height: 24px;
  margin-bottom: 50px;
}

.hotel-button a,
.button-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
}

.hotel-button {
  align-self: center;
  width: 570px;
  border: none;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #766357;
}

.hotel-button:hover {
  background: #604e43;
}

.hotel-button:active {
  background-color: #503e33;
}

.hotel-button:active a {
  color: rgba(255, 255, 255, 0.5);
}

.booking-fields {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -285px;
  align-self: center;
  width: 570px;
  background: #ffffff;
}

.booking-fields fieldset {
  display: flex;
  width: 458px;
  margin: 54px;
  padding: 0;
  border: none;
}

.input-field {
  display: flex;
  width: 458px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* AAAAAA! станьте в ряд */

.input-field:nth-child(3),
.input-field:nth-child(4) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 232px;
  margin: 0;
}

/* почему последние labels другой ширины и им на мои свойства наплевать? */

.input-field label {
  width: 115px;
  margin-right: 15px;
  padding-top: 5px;
  text-align: left;
}

/* подсветка outline выглядит очень коряво Везде. И на +- И input'am не хватает ширины.*/

input[id="check-in"],
input[id="check-out"] {
  width: 345px;
  font: inherit;
  text-transform: uppercase;
  padding: 6px 10px;
  padding-right: 0px;
  margin-right: 0;
  border: none;
  background-color: #f2f2f2;

}

input[id="children-field"],
input[id="adults-field"] {
  font: inherit;
  text-transform: uppercase;
  width: 35px;
  text-align: center;
  padding: 6px 0;
  background-color: #f2f2f2;
  border: none;
}

/*мигают немного по-разному. Кнопки с +- вообще не мигают */

input[id="check-in"]:hover,
input[id="check-out"]:hover,
input[id="children-field"]:hover,
input[id="adults-field"]:hover,
.calendar-button:hover,
.button-plus:hover,
.button-minus:hover {
  background-color: #ebebeb;
}

input[id="check-in"]:active,
input[id="check-out"]:active,
input[id="children-field"]:active,
input[id="adults-field"]:active,
.calendar-button:active {
  background-color: #ffffff;
}

.calendar-button {
  position: relative;
  width: 45px;
  right: 5px;
  top: 0px;
  fill: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
  padding: 0;
  margin: 0;
}

/* кнопки не работают. Действие потом навешивается?*/

.button-minus,
.button-plus {
  width: 35px;
  padding: 8px;

  border: none;
  background-color: #f2f2f2;
}

.calendar-button:hover path,
.button-minus:hover,
.button-plus:hover {
  fill: #000000;
}

.calendar-button:active path,
.button-minus:active line,
.button-plus:active line {
  fill: #81b3d2;
}


.button-search {
  align-self: center;
  width: 458px;
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: #81b3d2;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.5)
}

.input-line:hover {
  background-color: #ebebeb;
}

.input-line:focus {
  background-color: #ffffff;
}

.form {
  width: 1200px;
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
  background-position: contain;
}

.form-structure {
  display: flex;
  justify-content: space-around;
  width: 1056px;
  padding-top: 25px;
}

.checkbox-facilities fieldset,
.checkbox-type fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 170px;

  border: none;
  margin: 0;
  padding: 0;
}

.form-legend {
  font-size: 16px;
}

.form label {
  font-weight: normal;
}

/* не работают чекбоксы */

/*поехал range */

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 50px;
}

.price-controls input {
  width: 40px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.listing-filtration {
  display: flex;
  margin: 9px 0;

}

.sort-amount {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  padding-left: 72px
}

.sort-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 45px;
}

.sort-title ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 260px;
}

.sort-title,
.sort-list a {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-list a {
  color: #b2b2b2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-list a:active {
  color: #000000;
}

.sort-list .sort-active {
  color: #81b3d2;
  border-bottom: none;
}

/*а точно ли это button?*/

.sort-button {
  text-align: right;
  margin-left: 460px;
  padding: 0;
}

.sort-button li {
  display: inline-block;
}

.icon-up path,
.icon-down path {
  fill: #cacaca;

}

/* сломала мигание */

.icon-up path:focus,
.icon-down path:focus {
  fill: #ffffff;
}

.icon-up path:active,
.icon-down path:active {
  fill: #81b3d2;
}

hotel-listing {
  display: flex;
}

.hotel {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #e5e5e5;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 29px;
  padding-bottom: 10px;

}

.hotel:last-child {
  border-bottom: 2px solid #e5e5e5;
}

.hotel-content {
  display: flex;
}

.hotel-img {
  width: 135px;
  margin-right: 30px;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 260px;
}

.hotel-name {
  margin: 0;
}

/* в одну строку ?!*/

.hotel-info p {
  display: inline-block;
  width: 111px;
  font-weight: normal;
  margin: 0;
}

.hotel-name a {

  width: 280px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #f0f0f0;
}

.hotel-links {
  text-align: center;
  width: 260px;

  padding: 0;
  margin-bottom: 0;
}

.hotel-links li {
  display: inline-block;
}

.hotel-details {
  width: 110px;
  padding: 5px 0;
  margin-right: 3px;
  background-color: #81b3d2;
}

.hotel-details:hover {
  background-color: #669ec0;
}

.hotel-details:active {
  background-color: #5496bd;
}

.hotel-reservation {
  width: 141px;
  padding: 5px 0;
  margin: 0;
  background-color: #766357;
}

.hotel-reservation:hover {
  background-color: #604e43;
}

.hotel-reservation:active {
  background-color: #503e33;
}

.hotel-links a {
  color: #ffffff;
}

.hotel-links:active a {
  color: rgba(250, 250, 250, 0.5);
}

.hotel-review {
  display: inline-block;
  text-align: right;
}

.hotel-raiting {
  width: 110px;
  padding: 5px;
  text-align: center;
  font-weight: normal;
  color: #666666;
  background-color: #f2f2f2;
  margin-top: 40px;
}

.main-footer {
  display: flex;
  justify-content: space-around;

  background-color: #fdfdfd;
}

.footer-hashtag {
  width: 160px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 48px;
  margin-left: 115px;
  margin-bottom: 55px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 151px;
  margin: 0 auto;
  padding: 0;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-top: 35px;
}

.social-btn {
  background-color: #81b3d2;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn path:active {
  fill: rgba(255, 255, 255, 0.5);
}

.social-btn:hover {
  background-color: #669ec0;
}

.footer-made-by {
  display: flex;
  flex-direction: row;
  width: 240px;
  margin-top: 35px;
  margin-right: 50px;
}

.logo-link {
  width: 110px;
  margin-left: 10px;
}

.logo-link:hover path {
  fill: #81b3d2;
}

.logo-link:active path {
  fill: #bdbbbc;
}
