body {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

/* внизу полоски на обеих страницах */

.inner-page {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: left;

  background-color: #fefefe;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

/* тень на глаз */

.page-container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 15px -1px #dbdbdb,
  -2px 2px 15px -1px #dbdbdb;
  box-shadow: 2px 2px 15px -1px #dbdbdb,
  -2px 2px 15px -1px #dbdbdb;

  outline: 2px solid black;
}

.main-header {
  position: relative;

  padding-bottom: 15px;

  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

.site-navigation,
.social-list,
.sort-list,
.sort-button,
.hotel-links {
  list-style: none;
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 100;

  width: 138px;
  height: 70px;
  margin-left: -69px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;

  margin: 0;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 15px;

  font-weight: bold;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.2);
}

.active a {
  color: #766357;
}

.site-navigation li {
  width: 20%;
}

.navigation-left {
  text-align: left;
}

/* непонятно что творится. не могу отцентровать */

.navigation-left:nth-child(2) {
  margin-right: 139px;
}

.navigation-right {
  text-align: right;
}

.container {
  width: 1200px;
  padding: 0;

  background-color: #ffffff;
}

.intro {
  position: relative;

  padding-bottom: 70px;

  background-color: #d9eaf5;
  background-image: url("../img/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 21%;
}

.intro::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  height: 56px;
  width: 100%;

  background-image: url(../img/background-shape.png);
  background-repeat: no-repeat;
}

.intro img {
  margin-top: 75px;
}

/* здесь тоже убрать ширину для текстoвого блока? */

.main-title {
  display: inline-block;
  width: 570px;
  margin-top: 62px;
  margin-bottom: 14px;

  font-weight: bold;
  font-size: 21px;
  vertical-align: top;
  color: #000000;
}

.main-title-text {
  margin-bottom: 50px;
}

.advantage-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.advantage-text {
  width: 400px;

  line-height: 21px;
}

.advantage-text h3 {
  display: inline-block;

  width: 150px;

  font-weight: bold;
  font-size: 21px;
  text-align: center;
  vertical-align: top;
  color: #000000;
}

.advantage-image-block h3 {
  color: #ffffff;
}

.advantage-image-block h3,
.advantage-background-block {
  padding-top: 27px;
}

.advantage-image-block h3,
.advantage-background-block h3 {
  margin-bottom: 8px;
}

.advantage-image-block p,
.advantage-background-block p {
  padding-bottom: 8px;
}

.advantage-background-block {
  margin-bottom: 20px;
  padding-bottom: 38px;
}

.advantage-image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #ffffff;

  background-color: #81b3d2;
}

.advantage-text p,
.advantage-background p {
  padding-left: 61px;
  padding-right: 62px;

  text-align: center;
}

.advantage-icon-block h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

/* я оставила здесь усредненную background-position для icons. А потом отдельно подогнала каждую картинку по более личному классу. */

.advantage-icon-block .advantage-text {
  margin-bottom: 68px;
  padding-top: 132px;

  background-repeat: no-repeat;
  background-position: 50% 30%;
}

.advantage-icon-block .advantage-accomodation {
  background-image: url("../img/icon-1.svg");
  background-position: 50% 32%;
}

.advantage-icon-block .advantage-food {
  background-image: url("../img/icon-3.svg");
  background-position: 49% 31%;
}

.advantage-icon-block .advantage-souvenir {
  background-image: url("../img/icon-2.svg");
  background-position: 50% 30%;
}

.advantage-background-block {
  background-color: #eeeeee;
}

.advantage-food p {
  padding-left: 55px;
  padding-right: 55px;
}

.advantage-bridge h3 {
  padding-top: 26px;
}

.advantage-city p {
  margin-top: 14px;
  padding-left: 60px;
  padding-right: 60px;
}

.advantage-bridge p {
  margin-top: 13px;
  padding-left: 45px;
  padding-right: 45px;
}

.booking-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* а карта у нас в jpg или лучше в png ? */

.background-map {
  display: block;
  left: 0;
  width: 100%;
  height: 400px;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.booking-form h3 {
  margin-bottom: 9px;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.booking-form p {
  margin-bottom: 46px;

  line-height: 24px;
}

.hotel-button a,
.button-search {
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
}

/* с клавиатуры не подсвечивается вся кнопка, а только текст внутри. Некрасиво */

.hotel-button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 570px;
  margin: 0 auto;
  padding-top: 31px;
  padding-bottom: 27px;

  background-color: #766357;
  border: none;
}

.hotel-button:hover {
  background: #604e43;
}

.hotel-button:active {
  background-color: #503e33;
}

.hotel-button:active a {
  color: rgba(255, 255, 255, 0.5);
}

.booking-fields {
  position: absolute;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  top: 100%;
  left: 50%;
  width: 570px;
  margin-left: -285px;

  background: #ffffff;
}

.booking-fields fieldset {
  width: 458px;
  margin: 56px;
  padding: 0;

  border: none;
}

.input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 458px;
  margin: 0;
  padding: 0;

  font-weight: bold;
}

.fields-in-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 458px;
  margin-bottom: 54px;

  font-weight: bold;
}

.some-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 230px;

}

.input-field label {
  width: 115px;
  margin-right: 15px;
  padding-top: 7px;

  /*  плохо подгоняются label */
  padding-left: 1px;

  text-align: left;
}

.some-field label {
  width: 89px;
  margin-right: 22px;
  padding-top: 7px;
  text-align: left;
}

.some-field:nth-last-of-type(1) label {
  text-align: right;
  margin-right: 26px;
}

.input-field input[id="check-in"],
.input-field input[id="check-out"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 347px;

  padding: 6px 10px;
  padding-right: 35px;
  margin-right: 0;

  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.adults-field,
.children-field {
  background-color: #f2f2f2;
}

.some-field input[id="adults-field"],
.some-field input[id="children-field"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 36px;
  padding: 6px 0px;
  margin-left: 2px;

  font: inherit;
  text-transform: uppercase;
  text-align: center;

  background-color: #f2f2f2;
  border: none;
}

/*мигают немного по-разному. Кнопки с +- вообще не мигают */

.input-field input[id="check-in"]:hover,
.input-field input[id="check-out"]:hover,
.some-field input[id="children-field"]:hover,
.some-field input[id="adults-field"]:hover,
.calendar-button:hover,
.input-field .button-plus:hover,
.input-field .button-minus:hover {
  background-color: #ebebeb;
}

.input-field .button-plus:hover,
.input-field .button-minus:hover {
  color: #ebebeb;
}


.input-field input[id="check-in"]:focus,
.input-field input[id="check-out"]:focus,
.some-field input[id="children-field"]:focus,
.some-field input[id="adults-field"]:focus,
.calendar-button:focus {
  background-color: #ffffff;
}

.calendar-button {
  position: relative;
  width: 45px;
  height: 34px;
  left: 150px;
  bottom: 36px;

  padding: 0;
  margin: 0;

  fill: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.button-minus,
.button-plus {
  width: 34px;
  height: 40px;
  padding: 8px;


  background-color: #f2f2f2;
  border: none;
}

.button-minus {
  position: relative;
  left: px;
  bottom: 0px;
  padding-left: 13px;
}


.button-plus {
  position: relative;
  right: 0px;
  bottom: 0;
  padding-left: 10px;
  margin-right: px;
}

.button-minus:active,
.button-plus:active {
  background-color: #ffffff;
  fill: #81b3d2;
}

.calendar-button:hover path {
  fill: #000000;
}

.calendar-button:active path {
  fill: #81b3d2;
}

.button-search {
  width: 458px;
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: #81b3d2;
  border: 0;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #5496bd;
}

.input-line:hover {
  background-color: #ebebeb;
}

.input-line:focus {
  background-color: #ffffff;
}

.form {
  width: 1200px;
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
  background-position: 50% 17%;
}

.form-structure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  width: 1056px;
  margin-left: 6%;
  margin-right: 6%;
  padding-top: 28px;
}

.checkbox {
  display: flex;
  margin-bottom: 8px;
}

.checkbox-facilities fieldset,
.checkbox-type fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 170px;

  margin: 0;
  margin-right: 85px;
  padding: 0;

  border: none;
}

.form-legend {
  font-size: 16px;
  margin-bottom: 25px;
}

/* edge не видит марген */

.form label {
  font-weight: normal;
  margin-bottom: 24px;
}

/*  чекбоксы, с клавиатуры не видны */

.checkbox-field {
  position: relative;

  padding-left: 40px;

  cursor: pointer;
}

.checkbox-type .checkbox-field {
  padding-left: 42px;
}

.checkbox-field:hover,
.checkbox-field:focus {
  color: #ffffff;
}

.checkbox-field input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 0;

  width: 19px;
  height: 19px;

  border: 2px solid #ffffff;
  border-radius: 4px;
}

.checkbox-field input[type="checkbox"]:disabled + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 0;

  width: 19px;
  height: 19px;

  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.checkbox-field input[type="checkbox"]:checked + .checkbox-indicator {
  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 7% 55%;

  border: none;
}

.checkbox-field input[type="checkbox"]:disabled:checked + .checkbox-indicator {
  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on-disabled.svg);
  background-repeat: no-repeat;
  background-position: 7% 55%;

  border: none;
}

/*поехал range => поправить.*/

.range {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.filter-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  width: 317px;

  text-transform: uppercase;
  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 9px;
  padding-left: 1px;

  font-weight: 600;
  font-size: 16px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;


  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 64px;
}

/* нужно как-то цифры поднять выше на пару пикселей. Идей пока нет */

.price-controls .max-price {
  width: 90px;
  padding-left: 57px;
}

.price-controls input {
  width: 40px;
  margin: 0;


  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 31px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

/* в styleguide этого цвета в ховере нет. Хотя выглядит отлично

.range-toggle:hover {
  background: #1c4f80;
}

*/

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 34px;
  padding-top: 7px;
  margin-bottom: 30px;
  margin-left: 85px;


  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.listing-filtration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1056px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 72px;
  padding-top: 11px;
  padding-bottom: 8px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort-amount {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sort-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 46px;
}

.sort-title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sort-title,
.sort-list a {
  font-weight: normal;

  font-size: 12px;
  line-height: 18px;
}

.sort-list a {
  margin-right: 35px;

  color: #b2b2b2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-list a:active {
  color: #000000;
}

.sort-list .sort-active {
  color: #81b3d2;
  border-bottom: none;
}

.sort-button {
  width: 110px;
  text-align: right;

  background-color: #ffffff;
}

.sort-button li {
  display: inline-block;
  vertical-align: top;

  padding-top: 10px;
}

.sort-button li:nth-child(2) {
  margin-left: 8px;
}

.icon-up,
.icon-down {
  padding-left: 0;
  padding-right: 0;

  background-color: #fefefe;
  border: none;
}

.icon-up path,
.icon-down path {
  fill: #cacaca;
}

.icon-up path:hover,
.icon-down path:hover {
  fill: #000000;
}

.icon-up path:active,
.icon-down path:active {
  fill: #81b3d2;
}

.hotel-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 10px;

  border-top: 1px solid #e5e5e5;
}

.hotel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.hotel-img {
  width: 135px;
  margin-right: 30px;
  /*  padding-top: 3px;*/
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 260px;

  text-align: left;
}

.hotel-name {
  margin: 0;
  padding-left: 1px;
  padding-bottom: 2px;
}

.hotel-info p {
  display: inline-block;
  width: 111px;
  margin: 0;
  padding-bottom: 7px;
  padding-right: 2px;

  font-weight: normal;
  vertical-align: top;
}

.hotel-name a {
  width: 280px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #f0f0f0;
}

/* с клавиатуры не подсвечивается вся кнопка, а только текст внутри. Некрасиво */

.hotel-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  margin: 0;
  padding: 0;
  padding-top: 5px;

  text-align: center;
}

.hotel-details {
  width: 110px;
  margin-right: 6px;
  padding-top: 3px;
  background-color: #81b3d2;
}

.hotel-details:hover {
  background-color: #669ec0;
}

.hotel-details:active {
  background-color: #5496bd;
}

.hotel-reservation {
  width: 141px;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;

  background-color: #766357;
}

.hotel-links a {
  color: #ffffff;
}

.hotel-reservation:hover {
  background-color: #604e43;
}

.hotel-reservation:active {
  background-color: #503e33;
}

/* текст не прозрачнеет при нажатии. раньше ставила active на ссылку и все работало, но только если мышкой попадать по тексту . обводка с клавиатуры некрасивая */

.hotel-reservation:active a {
  color: rgba(250, 250, 250, 0.5);
}

.hotel-detailes:active a {
  color: rgba(250, 250, 250, 0.5);
}

.hotel-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  text-align: right;
}

.hotel-raiting {
  width: 98px;
  margin-top: 39px;
  padding: 5px;

  text-align: center;
  font-weight: normal;
  color: #666666;

  background-color: #f2f2f2;
}

.hotel-stars {
  margin-top: 2px;
}

.hotel-stars .star {
  padding-left: 2px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 34px;

  background-color: #fdfdfd;
}

/* нужно ли задавать ему состояния по hover, active, как для logo html academy ?*/

.footer-hashtag {
  width: 160px;
  margin-top: 11px;
  margin-left: 87px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 151px;
  margin: 0 auto;
  padding: 0;
  padding-right: 3px;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 45px;
  height: 47px;

  margin-right: 3px
  /*  margin-top: 35px;*/
}

.social-btn {
  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active path {
  fill: rgba(255, 255, 255, 0.5);
}

.footer-made-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 240px;
}

.logo-link {
  width: 110px;
  margin-left: 10px;
}

.logo-link:hover path {
  fill: #81b3d2;
}

.logo-link:active path {
  fill: #bdbbbc;
}
