body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.inner-page {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: left;

  background-color: #fefefe;
}

.page-container {
  background-color: #f2f2f2;
  width: 100%;
}

.main-header {
  /*  здесь наверняка не так делается margin */
  margin-left: 40px;
  padding-bottom: 16px;
  width: 1200px;
  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

.site-navigation,
.social-list,
.sort-list,
.sort-button,
.hotel-links {
  list-style: none;
}

/* гуляет по шапке, если менять размеры окна. А вот контент с ним не двигается. */

.logo {
  position: absolute;
  left: 44.5%;
  width: 138px;
  height: 70px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding-left: 57px;
  padding-right: 58px;
  padding-top: 15px;

  font-weight: bold;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.2);
}

/* visited не тот класс, чтобы задать "находимся на странице". Но у меня нет других вариантов пока */

.site-navigation a:visited {
  color: #766357;
}

.site-navigation li {
  width: 20%;
}

.navigation-info,
.navigation-multimedia {
  text-align: left;
}

.navigation-multimedia {
  margin-right: 10%;
}

.navigation-map,
.navigation-hotel {
  text-align: right;
}

.container {
  /*  и здесь, но я пока оставлю так */
  margin-left: 40px;
  padding: 0;
  width: 1200px;

  background-color: #ffffff;
}

.intro {
  background-color: #d9eaf5;
  background-image: url("../img/background-img.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  min-height: 567px;
  background-position: 52% 28%;

}

/* пора бы уже маску прикрутить */

.slogan {
  margin-top: 75px;
}

.main-title {
  margin: 2px;
  margin-bottom: 27px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}



.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.intro-text {
  padding-bottom: 36px;
}

.container {
  background-color: #ffffff;
}

.advantage-block {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #81b3d2;
}

.advantage-img {
  display: inline-block;
  width: 66%;
}

.advantage-block h3 {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.advantage {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;

}

.advantage-text {
  display: inline-block;
  width: 300px;
  line-height: 21px;
  margin-left: 40px;
  margin-right: 60px;
  padding-top: 45px;
}

.advantage-title {
  display: inline-block;
  width: 150px;
  margin: 0;
}

.advantage-text-width {
  width: 320px;
}

.advantage-icons .advantage-text {
  padding-top: 132px;
  margin-bottom: 43px;
  background-position: 50% 25%;
  background-repeat: no-repeat;
}

.advantage-icons .advantage-text:first-child {
  background-image: url("../img/icon-1.svg");
}

.advantage-icons .advantage-text:nth-child(2) {
  background-image: url("../img/icon-3.svg");
}

.advantage-icons .advantage-text:last-child {
  background-image: url("../img/icon-2.svg");
}

.advantage h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.advantage-color {
  background-color: #eeeeee;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.search-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.search-proposal {
  line-height: 24px;
  margin-bottom: 50px;
}

.button-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}


.button-text {
  color: #ffffff;
}

.hotel-btn {
  align-self: center;
  width: 574px;
  border: none;

  padding-top: 31px;
  padding-bottom: 30px;

  background-color: #766357;
}

.hotel-btn:hover {
  background: #604e43;
}

.hotel-btn:active {
  background-color: #503e33;
}

.search-fields {
  align-self: center;

}

.search-fields fieldset {
  margin: 0;
  padding: 0;
  width: 570px;
  border: none;
  outline: 2px solid;
}

.input-field {
  display: inline-block;
  font-weight: bold;
  margin-top: 30px;
}

.input-field:first-child {
  margin-top: 55px;
}

.input-line {
  width: 347px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  padding: 10px;
  margin-left: 20px;
  border: none;

  background-color: #f2f2f2;
}

/*с календарем не ладится. через absolute задвинуть в поле? или уменьшить поле и приклеить календарь? */

.calendar-button {
  fill: #a9a9a9;
  border: none;
}

.calendar-button:hover {
  fill: #000000;
}

.calendar-button:active {
  fill: #81b3d2;
}

.input-number {
  width: 35px;
  text-align: center;
  padding: 5px;
  margin: -4px;
}

/* не хотят реагировать на margin и отползать от label и  к началу строки*/

.input-field:nth-child(3) {
  padding-left: 0;
}

.button-minus,
.button-plus {
  position: relative;
  bottom: -3px;
  width: 40px;
  border: none;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #a9a9a9;
  padding: 6px;
  margin: 0;
  background-color: #f2f2f2;
}


.button-minus:hover,
.button-plus:hover {
  color: #000000;
}

.button-minus:active,
.button-plus:active {
  color: #81b3d2;
}


.input-line:hover {
  background-color: #ebebeb;
}

.input-line:focus {
  background-color: #ffffff;
}

.search-btn {
  width: 458px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* no funciona */

.search-btn {
  background-color: #81b3d2;
}

.search-btn:hover {
  background-color: #669ec0;
}

.search-btn:active {
  background-color: #5496bd;
}


.form {
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
  background-position: cover;
}

.form-structure {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;

}

.checkbox-facilities fieldset,
.checkbox-type fieldset {
  display: block;
  width: 170px;
  min-height: 180px;
  border: none;

}

.form-legend {
  font-size: 16px;
  font-weight: normal;
}

.form-link {
  width: 135px;
  border: solid 2px #ffffff;
  border-radius: 5px;
  text-align: center;
}

.form-link:hover {
  background-color: #ffffff;
}

.form-link:hover a {
  color: #000000;
}

.form-link a {
  color: #ffffff;
}

/* поставила cursor. На input не нужен pointer? */

.range-button,
.form-link {
  cursor: pointer;
}

.listing-filtration {
  display: flex;
  justify-content: space-around;
}

.sort-amount {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

/*почему не идете в строчку?*/

.sort-tytle {
  display: inline-block;
  width: 400px;
}

.sort-tytle,
.sort-list a {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-list a {
  color: #b2b2b2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-list a:active {
  color: #000000;
}

.sort-list .sort-active {
  color: #81b3d2;
  border-bottom: none;
}

.sort-button li {
  display: inline-block;
}

/* Не мигают. Что их не устраивает? */

.icon-up,
.icon-down {
  fill: #cacaca;
  border: 0;
}

.icon-up:focus,
.icon-down:focus {
  fill: #ffffff;
}

.icon-up:active,
.icon-down:active {
  fill: #81b3d2;
}

.hotel {
  display: flex;
  outline: 2px solid;
}

.hotel-img {
  width: 135px;
  height: 90px;
  padding: 0;
  /*
  margin-top: 30px;
  margin-left: 73px;
  margin-right: 25px;
  margin-bottom: 21px;
*/
  margin-right: 25px;
}

.hotel-info {
  display: inline-block;
  width: 260px;
}

.hotel-info p {
  font-weight: normal;
}

.hotel-name a {

  width: 280px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  margin-top: 0;
  padding-top: 0;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #f0f0f0;
}

.hotel-links {
  display: inline-block;
}

.hotel-links li {
  text-align: center;
}

.hotel-details {
  width: 110px;

  background-color: #81b3d2;
}

.hotel-details:hover {
  background-color: #669ec0;
}

.hotel-details:active {
  background-color: #5496bd;
}

.hotel-reservation {
  width: 141px;
  background-color: #766357;
}

.hotel-reservation:hover {
  background-color: #604e43;
}

.hotel-reservation:active {
  background-color: #503e33;
}

.hotel-links a {
  color: #ffffff;
}

.hotel-raiting {
  width: 110px;
  height: 27px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
}



.main-footer {
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
  padding: 0;
  width: 1200px;

  background-color: #fdfdfd;
}

.footer-hashtag {
  width: 160px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 48px;
  margin-left: 115px;
  margin-bottom: 55px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 151px;
  margin: 0 auto;
  padding: 0;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-top: 35px;
}

.social-btn {
  background-color: #81b3d2;
}

.social-btn:active {
  background-color: #5496bd;
}

/*в нажатии картинки должны стать прозрачнее. */

.social-btn:hover {
  background-color: #669ec0;
}

.footer-copyright {
  display: inline-block;
}

.footer-made-by {
  width: 240px;
}

.logo-link {
  width: 140px;
}

.logo-link:hover path {
  fill: #81b3d2;
}

.logo-link:active path {
  fill: #bdbbbc;
}
